/* Aplicando a nova fonte padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif; /* Fonte padrão atualizada para 'Lato' */
}

/* Ajustando a fonte original apenas nas classes especificadas */
.MenuLogo,
.class_Home2 {
    font-family: 'Lato', sans-serif; /* Mantendo 'Lato' em todas as classes */
}

body {
    background-color: #FFFEFA;
}

/* nav {
    position: fixed;
    width: 100%;
    background-color: #013220;  
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.MenuLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    padding: 5px;
    box-sizing: border-box;
}

.MenuLogo a {
    display: inline-block;
    position: relative;
}

.MenuLogo a img {
    width: 100%;
    height: auto;
    display: block;
}

.MenuLogo a:hover img {
    border: 1px solid yellow;
}

.MenuLogo a:hover {
    box-shadow: 0 0 10px 2px yellow;
    transition: box-shadow 0.3s ease-in-out;
} */

/* MENU LATERAL */

.class_LinksMenu {
    width: 100%;
    margin: auto;
    justify-content: space-between;
}

.class_LinksMenu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    font-weight: 500;
    font-size: 1.12rem;
}

.class_LinksMenu li {
    width: 100%;
}

.class_LinksMenu a {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #FFFEFA;
}
.class_LinksMenu a img {
    width: 100%;
    height: auto;
    display: block;
}

.class_LinksMenu a:hover {
    background-color: #90D26D;
    font-weight: 700;
}
#id_btnSair{
    margin-top: 80%;
}

/* Botoes*/
button {
    border-radius: 8px;
    border: none;
    color: #F5F5F5;
    
    cursor: pointer;
    
    font-weight: 600;
   
}
.btn_lucro{
    background-color: #FF9800;
    font-size: 16px;
    padding: 15px 0px;
    width: 100%;
}
.btn_grafico{
    background-color: #68a354;
    padding: 12px 12px;
    font-size: 14px;
    margin-top: 30px;
}
.btn_mensagem{
    background-color: #68a354;
    padding: 12px 12px;
    font-size: 14px;
    margin-top: 30px;
}
.conteiner-btn-grafico{
    display: flex; 
    justify-content: flex-end;

}
.container-btn-msg button:hover,.conteiner-btn-grafico button:hover {
    color: #FFFEFA;
    box-shadow: 0px 0px 10px #8fdf75;
}

.div_calculadora button:hover {
    color: #FFFEFA;
    box-shadow: 0px 0px 10px #FF9800;
}

main {
    
    display: flex;
    height: 86.3vh;
    width: 100%;
}

.class_menuLateral {
    position: fixed;
    background-color: #013220;
    height: 100%;
    width: 16%;
}

/* MEXI A PARTIR DAQUI */
.class_Conteudo {
    width: 84%;
    margin-left: 16%;
    display: flex;
}

h1 {
    font-size: 26px;
    margin-bottom: 16px;
    text-align: center;
    color: #013220;
}

.div_calculadora {
    /*ESSA DIV FOI CRIADA COM TODOS OS INPUT
    NELA COLOCO UM TAMAANHO, COR, ESPAÇAMENTO NA TELA, ESPAÇAMENTO DE DENTRO PARA FORA
    SOMBRA E ARREDONDAMENTO*/
    background-color: #FFFEFA;
    width: 50%;
    padding: 30px 40px;
    box-shadow: 0px 0px 10px #00000041;
    border-radius: 5px;
    margin: 100px 20px 40px 40px;

}

/* CHAMANDO A TAG SPAN QUE ESTA DENTRO DA DIV
DANDO UM TAMANHO, DEIXANDO ELA MEDIUM E DANDO UMA COR*/
.div_calculadora span {
    font-size: 18px;
    font-weight: 500;
    color: #013220;
    margin-bottom: 4px;
}

.div_calculadora input {
    /*COLOCANDO UM ESTILO EM TODOS OS INPUT
    TAMANHO 100% que ocupa todo espaco que pode na div.calculadora
    padding é "espaçamento para dentro", margem do topo, borda solida com cor e redonda
    e um background color, colocando uma cor de fundo*/
    width: 100%;
    padding: 15px 12px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #545454;
    background-color: #fffafa;
    margin-bottom: 20px;
}

/* placeholder é a mensagem que aperece na input antes de ser selecionada*/
input::placeholder {
    /*Mexendo no placeholder (mensagem que aparece dentro da input, dando uma cor,
    tamanho e opacidade )*/
    color: #262421;
    opacity: 0.5;
    font-size: 12px;
}

input:focus {
    /* focus é mexendo na input quando é selecionada */
    border: 1.7px solid #013220;
    /* Cor e espessura da borda */
    outline: none;
    /* Remove o contorno padrão */
}

/* Botoes calculadora*/
.div_calculadora button {
    padding: 15px 12px;
    border-radius: 8px;
    border: none;
    color: #F5F5F5;
    font-size: 16px;
    cursor: pointer;
    background-color: #FF9800;
    font-weight: 600;
    width: 100%;
}

.div_calculadora button:hover {
    background-color: #FF9800;
    color: #FFFEFA;
    box-shadow: 0px 0px 10px #FF9800;
}

#div_mensagem {
    /*ESSA DIV FOI CRIADA COM TODOS OS INPUT
    NELA COLOCO UM TAMAANHO, COR, ESPAÇAMENTO NA TELA, ESPAÇAMENTO DE DENTRO PARA FORA
    SOMBRA E ARREDONDAMENTO*/
    width: 50%;
    padding: 30px 40px;
    margin: 100px 80px 0px 20px;
    background-color: #FFFEFA;
    height: 100%;
    border-radius: 8px;
    border: 1px solid #01322068;
    font-size: 1rem;
    color: #262421;

}

#div_mensagem h3 {
    color: #013220;
    opacity: 08;
    font-size: 20px;
}

#div_mensagem #p_info {
    margin-top: 20px;
}

#div_mensagem #p_info span {
    font-weight: 800;
    color: #68a354;
}
