/* Aplicando a nova fonte padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif; /* Fonte padrão atualizada para 'Lato' */
}

/* Ajustando a fonte original apenas nas classes especificadas */
.MenuLogo,
.class_Home2 {
    font-family: 'Lato', sans-serif; /* Mantendo 'Lato' em todas as classes */
}

body {
    background-color: #FFFEFA;
}

/* nav {
    position: fixed;
    width: 100%;
    background-color: #013220;  
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
} */

/* .MenuLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    padding: 5px;
    box-sizing: border-box;
} */

/* .MenuLogo a {
    display: inline-block;
    position: relative;
} */

/* .MenuLogo a img {
    width: 100%;
    height: auto;
    display: block;
} */

/* .MenuLogo a:hover img {
    border: 1px solid yellow;
} */

/* .MenuLogo a:hover {
    box-shadow: 0 0 10px 2px yellow;
    transition: box-shadow 0.3s ease-in-out;
} */

/* MENU LATERAL */


.class_LinksMenu {
    width: 100%;
    margin: auto;
    justify-content: space-between;
}

.class_LinksMenu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    font-weight: 500;
    font-size: 1.12rem;
}

.class_LinksMenu li {
    width: 100%;
}

.class_LinksMenu a {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #FFFEFA;
}
.class_LinksMenu a img {
    width: 100%;
    height: auto;
    display: block;
}

.class_LinksMenu a:hover {
    background-color: #90D26D;
    font-weight: 700;
}

nav .class_botaoUsuario {
    width: 200px;
    display: flex;
    justify-content: space-around;
}

nav .class_botaoUsuario a {
    text-decoration: none;
    color: #FF9800;    
}

nav .class_botaoUsuario {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #013220;
    font-size: 1.0rem;
    color: #FFFEFA;
    cursor: pointer;
}

nav .class_botaoUsuario button:hover a {
    color: white; 
}

nav .class_BotoesMenu button:hover {
    background-color: #FF9800;
    color: #FFFEFA;
    box-shadow: 0px 0px 10px #FF9800;
}


main {
    
    display: flex;
    height: 86.31vh;
    width: 100%;
}

.class_menuLateral {
    position: fixed;
    background-color: #013220;
    height: 100%;
    width: 16%;
}
#id_btnSair{
    margin-top: 51%;
}

/* Aqui começa  a parte do Usuário */

.class_DadosPerfil{
    width: 84%;
    margin-left: 16%;
    background-color: #FFFEFA;
}
.class_DadosInternos{
    margin: auto;
    width: 68%;
    border-radius: 6px;
    margin-top: 4%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2) ;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.class_Circunferência{
    align-self: center;
    width: 100px;
    height: 100px;
    background-color: gray;
    border-radius: 50%;
}
.class_DadosUser{
    align-self: flex-start;
    margin-top: 17px;
    line-height: 27px;
    
}
.class_DadosInternos button{
    width: 186px;
    height: 30px;
    border: 1px solid #FF9800;
    border-radius: 5px;
    background-color: #FF9800;
    font-weight: bold;
    color: #FFFEFA;
    cursor: pointer;
}
.class_DadosInternos button:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
}
.class_DadosInternosDois{
    margin-top: 4%;
    display:flex;
    width: 100%;
    line-height: 36px;
    margin-left: 87px;
    margin-bottom: 8%;
}
.class_DadosInternosDois .class_span1{
    color:#013220;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.class_DiveErro{
    width: 75%;
    border: 1px solid #708090;
    border-radius: 5px;
    padding: 5px;
}
.class_Esquerda{
    width: 50%;
}
.class_Direita{
    align-self: flex-end;
    width: 50%;
}
