AMBIENTE_PROCESSO=

# Configuracoes de conexao com o banco de dados
DB_HOST=
DB_DATABASE=
DB_USER=
DB_PASSWORD=
DB_PORT=

# Configuracoes do servidor de aplicacao
APP_PORT=
APP_HOST=
BOBIA_API_BASE_URL=

# Importante: caso sua senha contenha caracteres especiais, insira-a entre aspas.
